<!DOCTYPE html>
<html>

  {% load static %}

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="{%static 'bootstrap/css/bootstrap.min.css' %}" >
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
        <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" >
        <link rel="stylesheet" type="text/css" href="fantasy/assets/css/Stats-icons.css" >
        <link rel="stylesheet" type="text/css" href="fantasy/assets/css/Team-images.css" >
        <link rel="icon" type="image/png" href="{%static 'img/favicon.ico' %}"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <script type="text/javascript">

            function myFunction() {
              var input, filter, section, tr, nombre, i;
              input = document.getElementById("myInput");
              filter = input.value.toUpperCase();
              section = document.getElementById("tablaContent");
              tr = section.getElementsByTagName("tr");

              for (i = 0; i < tr.length; i++) {
                nombre = tr[i].getElementsByTagName("span")[0];
                if (nombre) {
                  var palabrasEnFiltro = filter.split(' ');
                  var hallado = 0;
                  for (var filtro of palabrasEnFiltro) {
                    if (nombre.innerHTML.toUpperCase().indexOf(filtro) > -1) {
                      hallado++;
                    }
                  }
                  if (hallado === palabrasEnFiltro.length) {
                    tr[i].style.display = "";
                  } else {
                    tr[i].style.display = "none";
                  }
            
                }
              }
            }
            </script>
    </head>

    <body id="page-top">
        <div id="wrapper">
            <div class="d-flex flex-column" id="content-wrapper">
                
                    <nav class="navbar navbar-light navbar-expand bg-primary shadow mb-4 topbar static-top">
                        <div class="container-fluid">
                                <div class="navbar-brand sidebar-brand-icon rotate-n-15"><i class="fas fa-chart-pie"></i></div>
                                <div class="navbar-brand sidebar-brand-text mx-3"><span>FantasyTips</span></div>
                            <ul class="navbar-nav flex-nowrap ms-auto">
                                <li class="nav-item"><a class="nav-link" href="{% url 'rankings'%}"><i class="fas fa-tachometer-alt"></i><span>&nbsp;Destacados</span></a></li>
                                <li class="nav-item"><a class="nav-link" href="{% url 'inicio'%}"><i class="fas fa-table"></i><span>&nbsp;Jugadores</span></a></li>
                                <div class="d-none d-sm-block topbar-divider"></div>
                                {% if not request.user.is_authenticated %}
                                <li class="nav-item"><a class="nav-link" href="{% url 'login'%}"><i class="fas fa-user-tie"></i><span>&nbsp;Iniciar sesión</span></a></li>
                                <li class="nav-item"><a class="nav-link" href="{% url 'registro'%}"><i class="fas fa-file-signature"></i><span>&nbsp;Registrarse</span></a></li>
                                {% else %}
                                <li class="nav-item"><a class="nav-link" href="{% url 'equipoUsuario' username=request.user.username%}"><i class="fas fa-chalkboard-teacher"></i><span>&nbsp;Mi equipo</span></a></li>
                                <li class="nav-item"><a class="nav-link" href="{% url 'logout'%}"><i class="fas fa-sign-out-alt"></i><span>&nbsp;Cerrar sesión</span></a></li>
                                {% endif %}
                                
                            </ul>
                        </div>
                    </nav>
                
            </div>
        </div>
    </body>
</html>

<!-- <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
  <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Busca jugador"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
</form> -->