{% include "navbar.html" %}
{% block extrahead %}

    <meta charset="utf-8">
   
    <title>Mi perfil - MiFantasy</title>
    
{% endblock %}

{% block content %}

<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="container-fluid">
                    <h3 class="text-dark mb-4">Mi equipo</h3>
                    {%if plantilla%}
                    <div class="card shadow mb-5">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">Estadísticas generales</p>
                        </div>
                        <div class="card-body">
                            <div class="row gy-4 row-cols-2 row-cols-md-4">
                                <div class="col">
                                    <div class="text-center d-flex flex-column justify-content-center align-items-center py-3">
                                        <div class="bs-icon-xl bs-icon-circle bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-2 bs-icon lg"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-bezier">
                                                <path fill-rule="evenodd" d="M0 10.5A1.5 1.5 0 0 1 1.5 9h1A1.5 1.5 0 0 1 4 10.5v1A1.5 1.5 0 0 1 2.5 13h-1A1.5 1.5 0 0 1 0 11.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm10.5.5A1.5 1.5 0 0 1 13.5 9h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM6 4.5A1.5 1.5 0 0 1 7.5 3h1A1.5 1.5 0 0 1 10 4.5v1A1.5 1.5 0 0 1 8.5 7h-1A1.5 1.5 0 0 1 6 5.5v-1zM7.5 4a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z"></path>
                                                <path d="M6 4.5H1.866a1 1 0 1 0 0 1h2.668A6.517 6.517 0 0 0 1.814 9H2.5c.123 0 .244.015.358.043a5.517 5.517 0 0 1 3.185-3.185A1.503 1.503 0 0 1 6 5.5v-1zm3.957 1.358A1.5 1.5 0 0 0 10 5.5v-1h4.134a1 1 0 1 1 0 1h-2.668a6.517 6.517 0 0 1 2.72 3.5H13.5c-.123 0-.243.015-.358.043a5.517 5.517 0 0 0-3.185-3.185z"></path>
                                            </svg></div>
                                        <div class="px-3">
                                            <h2 class="fw-bold mb-0">{{total}}</h2>
                                            <p class="mb-0">Total de jugadores</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="text-center d-flex flex-column justify-content-center align-items-center py-3">
                                        <div class="bs-icon-xl bs-icon-circle bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-2 bs-icon lg"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
                                            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                          </svg></div>
                                        <div class="px-3">
                                            <h2 class="fw-bold mb-0">{{warning}}</h2>
                                            <p class="mb-0">Jugadores lesionados/sancionados</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="text-center d-flex flex-column justify-content-center align-items-center py-3">
                                        <div class="bs-icon-xl bs-icon-circle bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-2 bs-icon lg"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-cup">
                                                <path d="M1 2a1 1 0 0 1 1-1h11a1 1 0 0 1 1 1v1h.5A1.5 1.5 0 0 1 16 4.5v7a1.5 1.5 0 0 1-1.5 1.5h-.55a2.5 2.5 0 0 1-2.45 2h-8A2.5 2.5 0 0 1 1 12.5V2zm13 10h.5a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.5-.5H14v8zM13 2H2v10.5A1.5 1.5 0 0 0 3.5 14h8a1.5 1.5 0 0 0 1.5-1.5V2z"></path>
                                            </svg></div>
                                        <div class="px-3">
                                            <h2 class="fw-bold mb-0">{{mediaPts}}</h2>
                                            <p class="mb-0">Media de puntos</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="text-center d-flex flex-column justify-content-center align-items-center py-3">
                                        <div class="bs-icon-xl bs-icon-circle bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-2 bs-icon lg"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-cart2">
                                                <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"></path>
                                            </svg></div>
                                        <div class="px-3">
                                            <h2 class="fw-bold mb-0">{{valorTotal}}</h2>
                                            <p class="mb-0">Valor de mercado</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {%endif%}
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col">
                        <div class="container">
                            <div class="card">
                                <div class="card-header">
                                    <p class="text-primary m-0 fw-bold" ><i class="fas fa-users" style="text"></i> Mi plantilla</p>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive table mt-2" id="dataTable-1" role="grid" aria-describedby="dataTable_info">
                                        <table class="table my-0" id="dataTable">
                                            {% if plantilla%}
                                            <tbody>
                                                <tr>
                                                    <td style="background-color: #E9F4FF; text-align: center;" colspan="6"><span style="color: black;">PORTEROS</span></td>
                                                </tr>
                                                {%for p in por%}
                                                <tr>
                                                    <td><div class="row">
                                                        <div class="col-lg-2"><img class="rounded-circle me-2" width="30" height="30" src='../../assets/img/jugadores/{{p.nombre.strip|cut:" "|lower}}.png' onerror="this.onerror=null; this.src='../../assets/img/jugadores/default.png'"></div>
                                                        <div class="col"><a class="nav-link" href="{% url 'perfilJugador' jugador_id=p.id%}"><span>{{p.nombre}}</span></a></div>
                                                    </div></td>
                                                    <td>{{p.getPuntosTotales}} pts</td>
                                                    <td>{{p.estado}}</td>
                                                    <td><a class="nav-link" href="{% url 'clubes' club_id=p.equipo.id%}"><span>{{p.equipo}}</span></a></td>
                                                    <td>{{p.getValorActualDisplay}}</td>
                                                    <form class="user" method="POST">
                                                        {% csrf_token %}
                                                        <td style="text-align: right;width: 1%;">
                                                            <input class="btn fa" name="icon" type="submit" style="margin-right: 5px; color: red;" value="&#xf2ed;">
                                                        </td>
                                                        <input name="jug" type="hidden" value="{{p.id}}">
                                                        <input name="tipo" type="hidden" value="delSquad">
                                                    </form>
                                                </tr>
                                                {%endfor%}
                                                <tr>
                                                    <td style="background-color: #E9F4FF;text-align: center;" colspan="6"><span style="color: black;">DEFENSAS</span></td>
                                                </tr>
                                                {%for d in df%}
                                                <tr>
                                                    <td><div class="row">
                                                        <div class="col-lg-2"><img class="rounded-circle me-2" width="30" height="30" src='../../assets/img/jugadores/{{d.nombre.strip|cut:" "|lower}}.png' onerror="this.onerror=null; this.src='../../assets/img/jugadores/default.png'"></div>
                                                        <div class="col"><a class="nav-link" href="{% url 'perfilJugador' jugador_id=d.id%}"><span>{{d.nombre}}</span></a></div>
                                                    </div></td>
                                                    <td><span>{{d.getPuntosTotales}} pts</span></td>
                                                    <td>{{d.estado}}</td>
                                                    <td><a class="nav-link" href="{% url 'clubes' club_id=d.equipo.id%}"><span>{{d.equipo}}</span></a></td>
                                                    <td>{{d.getValorActualDisplay}}</td>
                                                    <form class="user" method="POST">
                                                        {% csrf_token %}
                                                        <td style="text-align: right;width: 1%;"><input class="btn fa" name="icon" type="submit" style="margin-right: 5px; color: red;" value="&#xf2ed;"></td>
                                                        <input name="jug" type="hidden" value="{{d.id}}">
                                                        <input name="tipo" type="hidden" value="delSquad">
                                                    </form>
                                                </tr>
                                                {%endfor%}
                                                <tr>
                                                    <td style="background-color: #E9F4FF;text-align: center;" colspan="6"><span style="color: black;">MEDIOS</span></td>
                                                </tr>
                                                {%for m in med%}
                                                <tr>
                                                    <td><div class="row">
                                                        <div class="col-lg-2"><img class="rounded-circle me-2" width="30" height="30" src='../../assets/img/jugadores/{{m.nombre.strip|cut:" "|lower}}.png' onerror="this.onerror=null; this.src='../../assets/img/jugadores/default.png'"></div>
                                                        <div class="col"><a class="nav-link" href="{% url 'perfilJugador' jugador_id=m.id%}"><span>{{m.nombre}}</span></a></div>
                                                    </div></td>
                                                    <td>{{m.getPuntosTotales}} pts</td>
                                                    <td>{{m.estado}}</td>
                                                    <td><a class="nav-link" href="{% url 'clubes' club_id=m.equipo.id%}"><span>{{m.equipo}}</span></a></td>
                                                    <td>{{m.getValorActualDisplay}}</td>
                                                    <form class="user" method="POST">
                                                        {% csrf_token %}
                                                        <td style="text-align: right;width: 1%;"><input class="btn fa" name="icon" type="submit" style="margin-right: 5px; color: red;" value="&#xf2ed;"></td>
                                                        <input name="jug" type="hidden" value="{{m.id}}">
                                                        <input name="tipo" type="hidden" value="delSquad">
                                                    </form>
                                                </tr>
                                                {%endfor%}
                                                <tr>
                                                    <td style="background-color: #E9F4FF;text-align: center;" colspan="6"><span style="color: black;">DELANTEROS</span></td>
                                                </tr>
                                                {%for d in dc%}
                                                <tr>
                                                    <td><div class="row">
                                                        <div class="col-lg-2"><img class="rounded-circle me-2" width="30" height="30" src='../../assets/img/jugadores/{{d.nombre.strip|cut:" "|lower}}.png' onerror="this.onerror=null; this.src='../../assets/img/jugadores/default.png'"></div>
                                                        <div class="col"><a class="nav-link" href="{% url 'perfilJugador' jugador_id=d.id%}"><span>{{d.nombre}}</span></a></div>
                                                    </div></td>
                                                    <td>{{d.getPuntosTotales}} pts</td>
                                                    <td>{{d.estado}}</td>
                                                    <td><a class="nav-link" href="{% url 'clubes' club_id=d.equipo.id%}"><span>{{d.equipo}}</span></a></td>
                                                    <td>{{d.getValorActualDisplay}}</td>
                                                    <form class="user" method="POST">
                                                        {% csrf_token %}
                                                        <td style="text-align: right;width: 1%;"><input class="btn fa" name="icon" type="submit" style="margin-right: 5px; color: red;" value="&#xf2ed;"></td>
                                                        <input name="jug" type="hidden" value="{{d.id}}">
                                                        <input name="tipo" type="hidden" value="delSquad">
                                                    </form>
                                                </tr>
                                                {%endfor%}
                                            </tbody>
                                            {%else%}
                                            <span>Aún no has creado tu plantilla. ¡Es el momento de formar un equipo ganador!</span>
                                            {%endif%}  
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="row" style="margin-top: 1%;margin-bottom: 1%;">
                    <div class="col">
                        <div class="container">
                            <div class="card">
                                <div class="card-header">
                                    <p class="text-primary m-0 fw-bold" ><i class="fas fa-user-secret" style="text"></i> Jugadores favoritos</p>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive table mt-2" id="dataTable-2" role="grid" aria-describedby="dataTable_info">
                                        <table class="table my-0" id="dataTable">
                                            {%if fav%}
                                            <thead>
                                                <tr>
                                                    <th>Nombre</th>
                                                    <th>Puntos</th>
                                                    <th>Estado</th>
                                                    <th>Equipo</th>
                                                    <th>Precio</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {%for p in fav%}
                                                <tr>
                                                    <td><div class="row">
                                                        <div class="col-lg-2"><img class="rounded-circle me-2" width="30" height="30" src='../../assets/img/jugadores/{{p.nombre.strip|cut:" "|lower}}.png' onerror="this.onerror=null; this.src='../../assets/img/jugadores/default.png'"></div>
                                                        <div class="col"><a class="nav-link" href="{% url 'perfilJugador' jugador_id=p.id%}"><span>{{p.nombre}}</span></a></div>
                                                    </div></td>
                                                    <td>{{p.getPuntosTotales}}</td>
                                                    <td>{{p.estado}}</td>
                                                    <td><a class="nav-link" href="{% url 'clubes' club_id=p.equipo.id%}"><span>{{p.equipo}}</span></a></td>
                                                    <td>{{p.getValorActualDisplay}}</td>
                                                    <form class="user" method="POST">
                                                        {% csrf_token %}
                                                        <td style="text-align: right;width: 1%;"><input class="btn fa" name="icon" type="submit" style="margin-right: 5px; color: red;" value="&#xf2ed;"></td>
                                                        <input name="jug" type="hidden" value="{{p.id}}">
                                                        <input name="tipo" type="hidden" value="delFav">
                                                    </form>
                                                </tr>
                                                {%endfor%}
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </tfoot>
                                            {%else%}
                                            <span>Aún no tienes jugadores favoritos. ¡Explora el mercado para mejorar tu plantilla!</span>
                                            {%endif%}                
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © MiFantasy 2022</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../assets/js/bs-init.js"></script>
    <script src="../../assets/js/theme.js"></script>
</body>
{% endblock %}

</html>