<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Registro - MiFantasy</title>
    <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="../../assets/css/Stats-icons.css">
    <link rel="stylesheet" href="../../assets/css/Team-images.css">
</head>

<style>
    .errorlist{
    list-style-type:none;
    color:red;
    font-size:20px;
    margin:0;
    padding:0;
}
</style>

<body class="bg-gradient-primary">
    <div class="container">
        <div class="card shadow-lg o-hidden border-0 my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-flex">
                        <div class="flex-grow-1 bg-register-image" style="background-image: url(&quot;../../assets/img/fut/clipboard-image.png&quot;);"></div>
                    </div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h4 class="text-dark mb-4">Crea tu cuenta</h4>
                            </div>
                            <form class="user" method="POST">
                                {% csrf_token %}
                                {% if form.username.errors %}<span class = "alert alert-danger"> {{  form.username.errors | striptags  }}<br> </span><br>{% endif %}
                                <div class="mb-3">{{  form.username  }}</div>
                                {% if form.correo.errors %}<br><span class = "alert alert-danger"> {{  form.correo.errors | striptags  }} <br></span><br>{% endif %}
                                <div class="mb-3">{{ form.correo }}</div>
                                {% if form.password.errors %}<br><span class = "alert alert-danger"> {{  form.password.errors | striptags  }}<br> </span><br>{% endif %}
                                <div class="mb-3">{{ form.password }}</div>
                                {% if form.password2.errors %}<br><span class = "alert alert-danger"> {{  form.password2.errors | striptags  }} <br></span><br>{% endif %}
                                <div class="mb-3">{{ form.password2 }}</div>
                                <button class="btn btn-primary d-block btn-user w-100" type="submit">Regístrate</button>
                                <hr>
                            </form>
                            <div class="text-center"><a class="small" href="forgot-password.html">¿Olvidaste tu contraseña?</a></div>
                            <div class="text-center"><a class="small" href="{%url 'login'%}">¿Ya tienes una cuenta? ¡Inicia sesión!</a></div>
                            <hr>
                            <button class="btn d-block btn-user w-100" type="button"><a class="nav-link" href="{% url 'inicio'%}"><i class="fas fa-home">Volver al listado de jugadores</i></a></button>                      
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../assets/js/bs-init.js"></script>
    <script src="../../assets/js/theme.js"></script>
</body>

</html>